{% extends 'ComprasBundle::base.html.twig' %}

{% block title %}Elever-Página Configuracoes{% endblock %}

{% block body %}
    <div class="container">
    <h1>EbEmpresa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idempresa</th>
                <td>{{ entity.idEmpresa }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Logradouro</th>
                <td>{{ entity.logradouro }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ entity.bairro }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ entity.cidade }}</td>
            </tr>
            <tr>
                <th>Uf</th>
                <td>{{ entity.uf }}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ entity.ativo }}</td>
            </tr>
            <tr>
                <th>Excluido</th>
                <td>{{ entity.excluido }}</td>
            </tr>
            <tr>
                <th>Dtcadastro</th>
                <td>{{ entity.dtCadastro|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('configuracao_empresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('configuracao_empresa_edit', { 'id': entity.idEmpresa }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
