{% extends 'ComprasBundle::base.html.twig' %}

{% block title %}Elever-Página Configuracoes{% endblock %}

{% block body %}
    <div class="container">
    <h1>EbPerfil list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idperfil</th>
                <th>Nome</th>
                <th>Ativo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('configuracao_perfil_show', { 'id': entity.idPerfil }) }}">{{ entity.idPerfil }}</a></td>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.ativo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('configuracao_perfil_show', { 'id': entity.idPerfil }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('configuracao_perfil_edit', { 'id': entity.idPerfil }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('configuracao_perfil_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>
    {% endblock %}
