{% extends 'ComprasBundle::base.html.twig' %}

{% block title %}Elever-Página Configuracoes{% endblock %}

{% block body %}
    <div class="container">
    <h1>EbModulo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idmodulo</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ entity.ativo }}</td>
            </tr>
            <tr>
                <th>Excluido</th>
                <td>{{ entity.excluido }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('configuracao_modulo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('configuracao_modulo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
